@import url("https://fonts.googleapis.com/css?family=Lato:400,600,700&subset=latin-ext");

body {
  background: #ececec;
  font-family: 'Lato';
  padding: 10px 0;
  margin: 0;
  font-size: 14px;
  overflow-x: hidden;
  min-width: 345px;
}

* {
  box-sizing: border-box;
}
*:after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  text-align: center;
}

/* write your code below this line */
form {
  max-width: 768px;
  display: block;
  width: 90%;
  background-color: #162e3f;
  padding: 25px 0;
  margin: 40px auto;
  color: #fff;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}
fieldset {
  border: none;
  width: 90%;
  margin: 10px auto;
}
legend {
  margin: 30px 0 0;
  font-size: 24px;
  font-weight: 700;
}
.double-input {
  margin: 20px auto;
}
.double-input > div {
  float: left;
  width: 48%;
  margin: 0 1% 10px;
} 
label {
  display: block;
  margin-bottom: 10px;
}
button[type="submit"] {
  height: 50px;
  width: 300px;
  background-color: #27ae60;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 50px;
  font-family: 'Lato';
  box-shadow: 0 0 10px #131313;
  display: block;
  margin: 0 auto;
}
input, select {
  width: 100%;
  color: #fff;
  background-color: transparent;
  border: 1px solid #a9a9a9;
  padding: 8px;
  height: 35px;
}
.date-select > select {
  width: 47%;
}
.date-select > select:first-of-type {
  margin-right: 3%;
}
input:focus, 
select:focus {
  border: 1px solid #2db92d;
}
input:valid, 
select:valid {
  border: 1px solid #55ee70;
}
option {
  color: #000;
  background-color: #ececec;
}
